/* Styles applied to the whole code*/
* {
  box-sizing: border-box;
}

/* Styles applied to the nav bar*/
nav {
  background-color: #f4f4f4;
  width: 100%;
  overflow: auto;
  height: 60px;
  position: fixed;
  top: 0;

}

/* Styles applied to the nav bar links while hovering*/
nav a:hover {
  color: black;
}

/* Styles applied to the body*/
body {
  margin: 0;
  padding: 0;
}

/* Styles applied to the unordered links*/
ul {
  margin-left: auto;
  margin-right: auto;
  list-style: none;
}

/* Styles applied to the listed links*/
li {
  float: right;
  display: inline-block;
  width: 15%;
  padding-right: 20px;
}

/* Styles applied to the image/logo in the nav bar*/
.logo img {
  position: absolute;
  padding-left: 20px;
  padding-top: 0;
}

/* Styles applied to the links in the nav bar*/
nav a {
  font-size: 24px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #ff4ba5;
  text-align: right;
}

/* Styles applied to the header*/
h1 {
  font-family: fantasy;
  color: #707070;
  padding-left: 30px;
  font-size: 40px;
  text-align: center;
  padding-top: 20px;
}

/* Styles applied to the paragraphs*/
p {
  background-color: #c4c4c4;
  width: 100%;
  float: left;
  padding-top: 5px;
  margin: 10px;
  height: 20px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
  font-size: 21px;
}

/* Styles applied to the container*/
.container {
  width: 1400px;
  margin: 0 auto;
  padding: 10px;
  height: 900px;
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Styles applied to pargraph 1 in the container*/
.container .p1 {
  background-color: #c4c4c4;
  width: 68%;
  float: left;
  height: 230px;
  padding: 5px;
}

/* Styles applied to the images*/
img {
  padding-left: 60px;
  padding-top: 10px;
}

/* Styles applied to paragraph 2 in the container*/
.container .p2 {
  background-color: #c4c4c4;
  width: 68%;
  float: left;
  height: 155px;
  padding: 5px;
}

/* Styles applied to pargraph 3 in the container */
.container .p3 {
  background-color: #c4c4c4;
  width: 68%;
  float: left;
  height: 250px;
  padding: 5px;
}

/* Styles applied to the header*/
h2 {
  text-align: center;
  font-family: fantasy;
  color: #707070;
  padding-left: 30px;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
}

/* Styles applied to the container on the visit page*/
.containervp {
  width: 100%;
  margin: 0 auto;
  padding: 230px;
  height: 614px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Styles applied to pargraph 4 in the container*/
.container .p4 {
  background-color: #c4c4c4;
  width: 68%;
  float: left;
  height: 190px;
  padding: 5px;
}

/* Styles applied to pargraph 5 in the container*/
.container .p5 {
  background-color: #c4c4c4;
  width: 68%;
  float: left;
  height: 210px;
  padding: 5px;
}

/* Styles applied to pargraph 6 in the container*/
.container .p6 {
  background-color: #c4c4c4;
  width: 68%;
  float: left;
  height: 140px;
  padding: 5px;
}

/* Styles applied to the footer*/
footer {
  left: 0;
  bottom: 0;
  height: 180px;
  background-color: #ff4ba5;
  text-align: left;
  font-size: 25px;
  text-decoration: none;
  width: 100%;
  padding-right: 15px;

/* Styles applied to the hover colour in the footer*/
}
 a:hover {
  color: black;
}

/* Styles applied to the links in the footer*/
li a{
 padding-right: 10px;
}